.btn {
    background-image: -webkit-linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-image: linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    box-sizing: border-box;
    display: inline-block;
    padding: .5em .75em .4em;
    text-decoration: none;
    background-color: $jsYellow;
    border: 3px solid #000;
    text-align: center;
    font-weight: bold
}

.scrolling .btn {
    background-image: -webkit-linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-image: linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%)
}

.btn:hover {
    background-image: -webkit-linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-image: linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-color: #f5f5f5;
    color: #000
}

.btn:active {
    background-image: -webkit-linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-image: linear-gradient(transparent 87%,transparent 87%,transparent 97%,transparent 97%);
    background-color: #333333;
    border-color: #333333;
    color: #fff
}

.btn-reversed {
    border-color: #fff;
    color: #fff
}

.btn-reversed:hover {
    background-color: #fff;
    color: #000
}

.btn-reversed:active {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000
}

.btn-huge {
    font-size: 2.8rem;
    border-width: 4px
}

.btn-full {
    display: block
}

// ticket button
.ticket-options {
    margin-top: 2em;
    margin-bottom: 1em
}

.ticket-option {
    margin-bottom: 2em
}

.ticket-register {
    text-align: center
}

.ticket-register-btn {
    width: 100%
}
