
footer,footer.layer {
    position: relative;
    color: #fff;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 25px solid $jsYellow;
    background-color: rgba(0,0,0,0.85);
    a {
      color: #fff;
    }
    h4 {
        font-size: 2em;
        margin-bottom: 1.35em
    }
}
.sponsor {
  display: inline-block;
  width:25%;
  margin: 15px;
  img {
    width: 100%;
  }
  box-sizing: border-box;
}


.footer-big-text {
    font-size: 2.4rem
}
.footer-links, .footer-thanks {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.footer-thanks {
    width: 55%;
}
.footer-links {
  width: 44%;
}
.people {
  a {
    text-decoration: none;
    background-image: none;
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }
  img {
    border-radius: 100%;
    display: inline-block;
    transition: all .5s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  span {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    margin-bottom: 20%;
    padding: 10px;
  }
}
