header,header.layer {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem
}


header .container,header.layer .container {
    position: relative;
    top: 2rem;
    left: -3.5rem;
}


header .title,header.layer .title {
    background-color: $darkBrown;
    color: #f5f5f5;
    width: 64%;
    padding: 25px 10px;
    margin-left: -.1rem;
    margin-bottom: .8rem
}



header .intro-description,header.layer .intro-description {
    font-size: 2.4rem;
    margin-bottom: .8em;
    width: 85%;
}

header .btn-register,header.layer .btn-register {
    font-size: 1.8rem;
    margin-top: 1.5em
}
