.container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto
}

.container::after {
    clear: both;
    content: "";
    display: table
}

.grid {
    float: left;
}

.grid-1-third {
    float: none
}
