
@media (min-width: 500px) {
    .layer {
        background-position:calc(100% + 160px);
        padding:16rem 3rem;
        padding-right: calc(140px + 3rem);
        height: 100vh;
    }
    header, header.layer {
      .intro-description {
          font-size:3.2rem;
      }
      .intro-details {
          font-size:2.4rem
      }

    }
    .section {
      padding: 30px;
    }
}

@media (min-width: 650px) {
    .layer {
        background-position:calc(100% + 120px);
        padding-right:calc(180px + 3rem)
    }
    .ticket-options {
        text-align:center
    }
    .grid-1-half {
        float:left;
        width: 48%
    }

    .grid-1-half:nth-child(2n) {
        margin-right: 0
    }

    .grid-1-half:nth-child(3n) {
        clear: both
    }
}


@media (min-width: 800px) {
    .layer {
        background-position:calc(100% + 70px);
        padding-right:calc(230px + 3rem);
    }
    .grid-1-third {
        float:left;
        width: 30.66667%
    }

    .grid-1-third:nth-child(3n) {
        margin-right: 0
    }

    .grid-1-third:nth-child(4n) {
        clear: both
    }
    .grid-2-thirds {
        float:left;
        width: 61.272%
    }

    .grid-2-thirds:nth-child(3n) {
        margin-right: 0
    }

    .grid-2-thirds:nth-child(4n) {
        clear: both
    }
    .three-columns {
        -webkit-column-count:3;
        -moz-column-count: 3;
        column-count: 3
    }
}


@media (min-width: 1100px) {
    .layer {
      background-position:calc(100% + 0px);
      padding-right:calc(250px + 3rem);
  }
}


@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .layer-1 {
        background-image:url("../images/pcb-fabrication.png")
    }

}

@media (max-width: 500px) {
    .layer-1,.layer-2,.layer-3,.layer-4,.layer-5 {
        background-image:none
    }
    .node-bot {
      width: 35%;
      position: absolute;
      top: 3%;
      left: 33%;
    }
    header,header.layer {
        background-attachment: scroll;
        padding-top: 160px;
        text-align: center;
        .intro-description {
            width: 100%;
        }
        .title {
            width: 100%;
        }
    }
    .footer-thanks {
      width: 100%;
      #sponsors {
        text-align: center;
      }
      .sponsor {
        display: block;
        width: 70%;
        margin: 0 auto;
        img {
          width:100%;
        }
      }
    }
    .footer-links {
      width: 100%;
      .people li {
        display: block;
        width: 70%;
        margin: 0 auto;
      }
    }


    .two-columns {
        float: none;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem;
        -webkit-margin-bottom-collapse: separate;
        vertical-align: top
    }

}

@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 500px) and (min-resolution: 1.5dppx), (max-width: 500px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 500px) and (min-resolution: 144dpi) {

    .node-bot {
      width: 40%;
      position: absolute;
      top: 3%;
      margin: 0 auto;
    }
    header .container, header.layer .container {
      position: relative;
      top: auto;
      left: 0;
      width: 100%;
    }
    header .title,header.layer .title {

        width: 100%;
        padding: 25px 10px;
        margin-left: -.1rem;
        margin-bottom: .8rem
    }

}
@media (max-width: 1024px) {
  header .container,header.layer .container {
      top: 4rem;
      left: 0rem;
  }

}

.grid-2-thirds {
    float: none
}
.grid-1-half {
    float: none
}

.grid-centered {
    float: none;
    margin-left: auto;
    margin-right: auto
}

.two-columns {
    float: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-margin-bottom-collapse: separate;
    vertical-align: top
}
