@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: 'Roboto',sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "“" "”" "‘" "’"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  line-height: 1.3;
  font-size: 54%; }

@media (min-width: 650px) {
  html {
    font-size: 58%; } }
@media (min-width: 800px) {
  html {
    font-size: 62.5%; } }
@media (min-width: 1100px) {
  html {
    font-size: 70%; } }
@media (min-width: 1400px) {
  html {
    font-size: 75%; } }
body {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.8rem;
  margin: 0 0 0.3em; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 2.4rem;
  margin-bottom: 0; }

h4 {
  margin-bottom: 0; }

h5 {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0; }

p {
  margin: 0 0 0.5em; }

a {
  background-image: -webkit-linear-gradient(transparent 87%, #e5e5e5 87%, #e5e5e5 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #e5e5e5 87%, #e5e5e5 97%, transparent 97%);
  color: #000;
  text-decoration: none; }

a:hover {
  background-image: -webkit-linear-gradient(transparent 87%, #000 87%, #000 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #000 87%, #000 97%, transparent 97%);
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: #000; }

a:active {
  background-image: -webkit-linear-gradient(transparent 87%, #b2b2b2 87%, #b2b2b2 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #b2b2b2 87%, #b2b2b2 97%, transparent 97%);
  color: #000; }

@media (min-width: 1100px) {
  h4 a, strong a {
    background-image: -webkit-linear-gradient(transparent 89%, #e5e5e5 89%, #e5e5e5 97%, transparent 97%);
    background-image: linear-gradient(transparent 89%, #e5e5e5 89%, #e5e5e5 97%, transparent 97%); }

  h4 a:hover, strong a:hover {
    background-image: -webkit-linear-gradient(transparent 89%, #000 89%, #000 97%, transparent 97%);
    background-image: linear-gradient(transparent 89%, #000 89%, #000 97%, transparent 97%); }

  h4 a:active, strong a:active {
    background-image: -webkit-linear-gradient(transparent 89%, #b2b2b2 89%, #b2b2b2 97%, transparent 97%);
    background-image: linear-gradient(transparent 89%, #b2b2b2 89%, #b2b2b2 97%, transparent 97%); } }
ul {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0; }

ul li {
  margin: 0 0 .75em;
  padding: 0; }

::-moz-selection {
  color: #fff;
  background: #000; }

::selection {
  color: #fff;
  background: #000; }

html, body {
  width: 100%;
  position: relative; }

body {
  background-color: #fff; }

section, header, footer {
  box-sizing: border-box;
  margin: 0; }

.container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto; }

.container::after {
  clear: both;
  content: "";
  display: table; }

.grid {
  float: left;
  margin-right: 4%; }

.grid-1-third {
  float: none; }

@media (min-width: 800px) {
  .grid-1-third {
    float: left;
    width: 30.66667%; }

  .grid-1-third:nth-child(3n) {
    margin-right: 0; }

  .grid-1-third:nth-child(4n) {
    clear: both; } }
.grid-2-thirds {
  float: none; }

@media (min-width: 800px) {
  .grid-2-thirds {
    float: left;
    width: 61.272%; }

  .grid-2-thirds:nth-child(3n) {
    margin-right: 0; }

  .grid-2-thirds:nth-child(4n) {
    clear: both; } }
.grid-1-half {
  float: none; }

@media (min-width: 650px) {
  .grid-1-half {
    float: left;
    width: 48%; }

  .grid-1-half:nth-child(2n) {
    margin-right: 0; }

  .grid-1-half:nth-child(3n) {
    clear: both; } }
.grid-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.three-columns {
  float: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-margin-bottom-collapse: separate;
  vertical-align: top; }

@media (min-width: 800px) {
  .three-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }
.btn {
  background-image: -webkit-linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  box-sizing: border-box;
  display: inline-block;
  padding: .5em .75em .4em;
  text-decoration: none;
  background-color: #e6d356;
  border: 3px solid #000;
  text-align: center;
  font-weight: bold; }

.scrolling .btn {
  background-image: -webkit-linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%); }

.btn:hover {
  background-image: -webkit-linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-color: #f5f5f5;
  color: #000; }

.btn:active {
  background-image: -webkit-linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, transparent 87%, transparent 97%, transparent 97%);
  background-color: #333333;
  border-color: #333333;
  color: #fff; }

.btn-reversed {
  border-color: #fff;
  color: #fff; }

.btn-reversed:hover {
  background-color: #fff;
  color: #000; }

.btn-reversed:active {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #000; }

.btn-huge {
  font-size: 2.8rem;
  border-width: 4px; }

.btn-full {
  display: block; }

.layer {
  position: relative;
  background-repeat: no-repeat;
  background-color: #e6d356;
  background-size: cover;
  background-image: url("../images/pcb-fabrication.png");
  padding: 2rem 3rem 4rem; }

.node-bot {
  width: 40%;
  position: absolute;
  bottom: 3%;
  right: 3%; }

@media (min-width: 500px) {
  .layer {
    background-position: calc(100% + 160px); } }
@media (min-width: 650px) {
  .layer {
    background-position: calc(100% + 120px); } }
@media (min-width: 800px) {
  .layer {
    background-position: calc(100% + 70px); } }
@media (min-width: 1100px) {
  .layer {
    background-position: calc(100% + 0px); } }
@media (min-width: 500px) {
  .layer {
    padding: 16rem 3rem;
    padding-right: calc(140px + 3rem);
    height: 100vh; } }
@media (min-width: 650px) {
  .layer {
    padding-right: calc(180px + 3rem); } }
@media (min-width: 800px) {
  .layer {
    padding-right: calc(230px + 3rem); } }
@media (min-width: 1100px) {
  .layer {
    padding-right: calc(300px + 3rem); } }
.layer-4 .section-wrap {
  padding-top: 4rem;
  padding-bottom: 4rem; }

/* .layer-1 {
   background-image: url("../images/nodebot_logo.png") 500px 500px 90% 90% no-repeat;
   background-size: 500px 500px;
   background-position: 90% 90%;
   background-repeat: no-repeat;
} */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .layer-1 {
    background-image: url("../images/pcb-fabrication.png"); } }
@media (max-width: 500px) {
  .layer-1, .layer-2, .layer-3, .layer-4, .layer-5 {
    background-image: none; }

  .node-bot {
    width: 35%;
    position: absolute;
    top: 3%;
    left: 30%; } }
footer, footer.layer {
  position: relative;
  color: #fff;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 5.9rem; }

footer a, footer.layer a {
  background-image: -webkit-linear-gradient(transparent 87%, #4c4c4c 87%, #4c4c4c 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #4c4c4c 87%, #4c4c4c 97%, transparent 97%);
  color: #fff;
  text-decoration: none; }

footer a:hover, footer.layer a:hover {
  background-image: -webkit-linear-gradient(transparent 87%, #fff 87%, #fff 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #fff 87%, #fff 97%, transparent 97%);
  color: #fff; }

footer a:active, footer.layer a:active {
  background-image: -webkit-linear-gradient(transparent 87%, #7f7f7f 87%, #7f7f7f 97%, transparent 97%);
  background-image: linear-gradient(transparent 87%, #7f7f7f 87%, #7f7f7f 97%, transparent 97%);
  color: #fff; }

footer .section-wrap, footer.layer .section-wrap {
  position: relative;
  z-index: 2; }

footer h4, footer.layer h4 {
  font-size: 2em;
  margin-bottom: 1.35em; }

.people img, .people span {
  display: inline-block; }

.people span {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  margin-bottom: 20%;
  padding: 10px; }

.footer-under-layer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85); }

.footer-big-text {
  font-size: 2.4rem; }

.footer-thanks {
  margin-bottom: 3rem; }

.footer-thanks .sponsor {
  display: inline-block;
  min-width: 35%;
  width: 25%;
  margin-left: 30px;
  padding: 15px; }

header, header.layer {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem; }

@media (max-width: 500px) {
  header, header.layer {
    background-image: url("../images/pcb-fabrication.png");
    background-size: 756.925px 195px;
    background-position: center -90px;
    background-attachment: scroll;
    padding-top: 160px;
    text-align: center; } }
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 500px) and (min-resolution: 1.5dppx), (max-width: 500px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 500px) and (min-resolution: 144dpi) {
  header, header.layer {
    background: #e6d356 url("../images/pcb-fabrication.png") 100% cover no-repeat, url("../images/nodebot_logo.png") no-repeat; }

  .node-bot {
    width: 40%;
    position: absolute;
    top: 3%;
    margin: 0 auto; } }
header .container, header.layer .container {
  position: relative;
  top: 2rem;
  left: -3.5rem; }

header .title, header.layer .title {
  background-color: #303024;
  color: #f5f5f5;
  width: 64%;
  padding: 25px 10px;
  margin-left: -.1rem;
  margin-bottom: 0.8rem; }

header .intro-description, header.layer .intro-description {
  font-size: 2.4rem;
  margin-bottom: .8em;
  width: 85%; }

@media (min-width: 500px) {
  header .intro-description, header.layer .intro-description {
    font-size: 3.2rem; }

  .section {
    padding: 30px; } }
@media (min-width: 500px) {
  header .intro-details, header.layer .intro-details {
    font-size: 2.4rem; } }
header .btn-register, header.layer .btn-register {
  font-size: 1.8rem;
  margin-top: 1.5em; }

.layer {
  display: table;
  width: 100%; }

.section-wrap {
  display: table-cell;
  vertical-align: top; }

.section-wrap {
  display: table-cell;
  vertical-align: middle; }

.ie8 .section-wrap {
  display: block;
  padding-left: 20px; }

.section-header {
  border-top: 3px solid #000;
  padding-top: .8rem;
  margin-bottom: 1.5rem; }

.section-overview {
  font-size: 2.4rem;
  margin-bottom: 4rem; }

.section-list::after {
  clear: both;
  content: "";
  display: table; }

.section-list-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 0;
  padding-bottom: 0.75em; }

.section-list-title {
  display: inline-block; }

.scrolling .hide-on-scroll {
  display: none; }

.show-on-scroll {
  display: none; }

.scrolling .show-on-scroll {
  display: block; }

.ticket-options {
  margin-top: 2em;
  margin-bottom: 1em; }

@media (min-width: 650px) {
  .ticket-options {
    text-align: center; } }
.ticket-option {
  margin-bottom: 2em; }

.ticket-register {
  text-align: center; }

.ticket-register-btn {
  width: 100%; }
