@import "partials/_variables";
@import "partials/_baseline";
@import "partials/_layout";
@import "partials/_button";
@import "partials/_header";
@import "partials/_section";
@import "partials/_footer";
@import "partials/_nav.scss";
@import "partials/_media-queries";

.node-bot {
  width: 35%;
  position: absolute;
  bottom: 3%;
  right: 3%;
  transition: all .3s ease-in-out;
  &:hover {
    bottom: -10%;
  }
}
