@import "partials/_variables";
@import "partials/_baseline";
@import "partials/_layout";
@import "partials/_button";
@import "partials/_header";
@import "partials/_section";
@import "partials/_footer";

@import "partials/_media-queries";

.node-bot {
  width: 35%;
  position: absolute;
  bottom: 3%;
  right: 3%;
}


.people img, .people span {
  display: inline-block;
}
.people {
  img {
    display: inline-block;
  }
  span {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    margin-bottom: 20%;
    padding: 10px;
  }
}
.sponsor img {

}

.scrolling .hide-on-scroll {
    display: none
}

.show-on-scroll {
    display: none
}

.scrolling .show-on-scroll {
    display: block
}
